#days-remain {
	background-color: #966;
}
#days-remain {
	font-size: 24px;
	background-color: #093;
}
.highlight {
	background-color: #ccc;
	border: 1px solid #888;
	font-style: italic;
	margin: 0.5em 0;
	padding: 0.5em;
}
.ui-grid-a #one {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
.ui-grid-a #two {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
